
html, body {
  background: url("images/computer.jpg") no-repeat; 
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #f8f8ff ; 
  font-weight: bold;
}

body {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
div.container {
  text-align: center;
}

div.list {
  text-align: center;
}


ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

ol.myOl {
  display: inline-block;
  text-align: left;

div, h1 {
  text-align: center;
  color: #f8f8ff ; 
  font-weight: bold;
}

 div.in a:link {
  color: #FF0000;
  background-color: #FFFFFF;
}
  
div.git a:link {
  color: #FF0000;
  background-color: #FFFFFF;
}


 
