
html, body {
  background: url("images/computer.jpg") no-repeat; 
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #f8f8ff ; 
  font-weight: bold;
}

body {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
div.container {
  text-align: center;
}

ul.myUl {
  display: inline-block;
  text-align: left;
}

div.list {
  text-align: center;
}
ol.myOl {
  display: inline-block;
  text-align: left;

div, h1 {
  text-align: center;
  color: #f8f8ff ; 
  font-weight: bold;
}

 a:link {
  color: blue;
  background-color: white;
}


 
